.button {
    padding: 1rem;
    border: 1px solid $color-gray_light;
    border-radius: 5px;

    background-color: $color-blue;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: $color-gray_light;
    text-decoration: none;
    line-height: 140%;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from($color-blue), to($color-dark_blue));
    background: gradient(top, $color-blue, $color-dark_blue);
    box-shadow: inset 1px 1px 0 $color-gray_light;
}
