.button {
    padding: 0.5rem;
    border: 1px solid $color-gray_light;
    border-radius: 5px;

    background-color: $color-blue;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: $font-size-text_small;
    color: $color-gray_light;
    text-decoration: none;
    line-height: 140%;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from($color-blue), to($color-dark_blue));
    background: gradient(top, $color-blue, $color-dark_blue);
    box-shadow: inset 1px 1px 0 $color-gray_light;
}

.button_cart {
    display: block;
    width: 100%;
}

.button_input-count {
    @include size(3rem);
    line-height: 2.8rem;
    padding: 0;
}

.button_promo {
    width: 100%;
}
