.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    font-size: 1.8rem;
}

.summary__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.promo__item {
    display: flex;
    justify-content: space-between;
}

.promo__title {
    width: fit-content;
}

.summary__item-text_comment {
    color: $color-blue;
    font-size: 1.3rem;
}
