.message {
    position: absolute;
    left: 35%;
    top: auto;
    z-index: 1000;

    text-align: center;
    width: 30%;
    padding: 2rem;
    gap: 1rem;

    font-size: 30px;
    background: linear-gradient(270.75deg, rgb(151, 216, 247) 100.06%, $color-primary 100.95%, #3b3bfb 106.36%);
    border-radius: 10px;

    transition: all 0.3s;
}
