.checkout {
    position: absolute;
    top: -100%;
    left: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
    gap: 1rem;

    font-size: 30px;
    background: linear-gradient(270.75deg, rgb(151, 216, 247) 100.06%, $color-primary 100.95%, #3b3bfb 106.36%);
    border-radius: 10px;
    opacity: 0;

    transition: all 0.3s;
}

.checkout_active {
    top: auto;
    z-index: 1000;

    opacity: 1;
}

.checkout__content {
    text-align: center;
}

.checkout__close {
    position: absolute;
    right: 30px;
    top: 30px;

    @include size(28px);

    &:hover {
        transform: scale(1.2);
    }
}

.checkout__input-container {
    display: flex;
    width: 50%;
    height: $font-size-text * 1.5;

    font-size: $font-size-text;
}

.checkout__input_wide {
    width: 100%;
}

.card-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.card-data__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-data__label {
    display: flex;
    align-items: center;

    font-size: $font-size-text;
}

.card-data__input {
    width: 100%;
    margin-left: 2px;
}

.checkout__message {
    @include size($font-size-text * 1.5);

    text-align: center;
    color: $color-mistake;
    line-height: $font-size-text * 1.5;
}

.checkout__message_valid {
    color: $color-active;
}

@media (max-width: 767px) {
    .checkout {
        width: 90%;
        height: 70%;
    }
}
