.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 2rem;

    background-color: $color-primary;
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;

    font-size: 2rem;
    color: $color-additional;
}

.footer__item {
    font-size: 2rem;
    color: $color-gray_light;
}

.footer__item_github-link {
    line-height: 35px;
}

.footer__item_rsschool-link {
    @include size(70px, 35px);
    background-image: url('https://rs.school/images/rs_school_js.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .footer__wrapper {
        flex-direction: column;

        font-size: 1.4rem;
    }

    .footer__item {
        font-size: 1.4rem;
    }
}
