.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: 100%;
    padding: 2rem;

    background-color: $color-primary;
}

.sum-total {
    font-size: 2.4rem;
    color: $color-additional;
}

.cart {
    width: 40px;
    height: 40px;

    background: url(../icons/cart.svg) center center no-repeat;

    font-size: 1.6rem;
    color: $color-gray_light;

    cursor: pointer;
}

.products-in-cart {
    width: 45%;
    height: 45%;
    border-radius: 50%;

    background-color: $color-blue;

    text-align: center;
}
