.main__item_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.main__item_options-sort,
.search-input {
    border: 1px solid $color-gray_light;
    border-radius: 5px;

    background-color: $color-blue;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-gray_light;
}

.sort-option {
    cursor: pointer;
}

.main__item_options-found {
    font-size: 1.8rem;
    color: $color-additional;
}

.main__item_options-search {
    position: relative;
}

.search-input::-webkit-input-placeholder {
    font-size: 1.5rem;
    color: rgba(229, 232, 234, 0.702);
}

.search-input:focus {
    border: 1px solid #ffffff;

    background-color: $color-primary;

    outline: none;
}

.search-close {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 2rem;
    height: 2rem;

    background: url(../icons/close.svg);
    cursor: pointer;
}

.search-close:hover {
    transform: scale(1.2);
}

.main__item_options-views {
    display: flex;
    gap: 1rem;
}

.main__item_options-small {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;

    padding: 0.2rem;

    cursor: pointer;
}

.main__item_options-small-cell {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.1rem;

    background-color: $color-primary;
}

.main__item_options-large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;

    padding: 0.2rem;

    cursor: pointer;
}

.main__item_options-large-cell {
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 0.1rem;

    background-color: $color-primary;
}

.active-view {
    border: 1px solid $color-primary;
    box-shadow: 0 0 3px 1px $color-primary;
}

@media (max-width: 900px) {
    .main__item_options-views {
        display: none;
    }

    .main__item_options-found {
        font-size: 1.5rem;
    }

    .main__item_options-sort,
    .search-input {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .main__item_options-found {
        font-size: 1.3rem;
    }

    .main__item_options-sort,
    .search-input {
        font-size: 1.3rem;
    }

    .search-input::-webkit-input-placeholder {
        font-size: 1.3rem;
    }

    .search-close {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 1.7rem;
        height: 1.7rem;

        background: url(../icons/close.svg);
        cursor: pointer;
    }
}
