.popup {
  position: absolute;
  left: -100%;


  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  padding: 30px;

  font-size: 30px;
  background: $color-gray;
  border-radius: 10px;

  transition: all 0.3s;
}

.popup_active {
  left: auto;
  z-index: 1000;
}

.popup__content {
  text-align: center;

}

.popup__close {
  position: absolute;
  right: 30px;
  top: 30px;

  @include size(28px);
  background-image: url('../../assets/icons/x_icon_close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  &:hover {
    transform: scale(1.2);
  }

}

@media(max-width: 767px) {

  .popup {
    width: 90%;
    height: 70%;
  }
}