/* colors *********************************************************************/
$color-primary: rgba(69, 179, 252, 0.702);
$color-additional: #2a1267;
$color-gradient: #fa6f32;
$color-hover: #e47209;
$color-active: #4b9200;
$color-accent: #ffee2e;
$color-mistake: #d31414;
$color-text: #2a1267;
$color-light: #ffffff;
$color-dark: #000000;
$color-gray: #767474;
$color-gray_light: #e8e9e9;
$color-dark_blue: #2a1267;
$color-blue: #4889e5;

/* font-sizes *****************************************************************/
$font-size-title1: 3.2rem;
$font-size-title2: 2.4rem;
$font-size-title3: 2rem;
$font-size-text: 1.8rem;
$font-size-text_small: 1.6rem;
