/* colors *********************************************************************/
$color-primary: rgba(69, 179, 252, 0.702);
$color-additional: #2a1267;
$color-gradient: #fa6f32;
$color-hover: #e47209;
$color-active: #4b9200;
$color-accent: #ffee2e;
$color-mistake: #d31414;
$color-text: #333b41;
$color-light: #ffffff;
$color-dark: #000000;
$color-gray: #767474;
$color-gray_light: #f1f3f2;
