/* colors *********************************************************************/
$color-primary: #FE9013;
$color-additional: #F9804B;
$color-gradient: #FA6F32;
$color-hover: #E47209;
$color-active: #4B9200;
$color-accent: #FFEE2E;
$color-mistake: #D31414;
$color-text: #333B41;
$color-light: #FFFFFF;
$color-dark: #000000;
$color-gray: #767474;
$color-gray_light: #F1F3F2;